body{
    background-color:white;
}

*{
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}
.Alpabit{
    border: 1px solid red;
    margin: 200px;
    justify-content: space-between;
    align-items: center;
}
.number{
    border: 1px solid red    ;
    justify-content: space-between;
    align-items: center;
}
.code-number{
    border: 1px solid red    ;
    justify-content: space-between;
    align-items: center;
}